* {
    margin: 0;
    padding: 0;
    cursor: default;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

*:focus {
    outline: 0;
}

body {
    font-family: 'Segoe UI', 'Segoe UI Symbol', Arial, sans-serif;
    width: 100%;
    height: 100%;
    font-size: 16px;
    overflow: hidden;
}

#main-container{
    color: rgb(250, 255, 255);
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 100vh;
}

#tabs {
    display: flex;
    flex-wrap: nowrap;
    background-color: #1e1e1e75;
    width: 100%;
}

.monaco-editor, .monaco-editor-background, .monaco-editor .inputarea.ime-input {
    background-color: #1e1e1e75 !important;
}

#tabs .tab{
    background-color: #34352f;
    color:#bfbfb9;
    line-height: 40px;
    width: 100px;
    text-align: center;
    font-size: 1rem;
}

#tabs .tab:hover {
    cursor: pointer;
}

#tabs .tab.active {
    background-color: #84ad73;
    color:#fff;
}

#tabs .alt-logo {
    height: 38px;
    margin-left: auto;
    order: 2;
    opacity: .4;
    padding-right: 1rem;
}

.button {
    width: 100px;
    font-weight: 600;
    line-height: 30px;
    color: white;
    border: 1px solid rgba(220, 220, 220, 0.4);
    text-align: center;
    background-color: #84ad7366;
    text-transform: uppercase;
}

.button:hover {
    background-color: #84ad73;
    cursor:pointer;
}

#footer {
    display: flex;
    flex-wrap: nowrap;
    background-color: #1e1e1e75;
    width: 100%;
}

#footer #errors {
    margin-left: auto;
    order: 2;
    opacity: .4;
    padding-right: 1rem;
    line-height: 30px;
    color:red;
}
#footer #success {
    margin-left: auto;
    order: 2;
    padding-right: 1rem;
    line-height: 30px;
    color:lime;
}

.hidden {
    display:none; /* SET TO none */
}

.show {
    display: block;
}

.notVisible {
    visibility: hidden;
}