@font-face {
    font-family: 'SignPainterHouseScriptRegular';
    src: url('./SignPainterHouseScriptRegular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: 'ChaletNewYorkRegular';
    src: url('./ChaletNewYorkRegular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: 'ChaletLondonNineteenSixty';
    src: url('./ChaletLondonNineteenSixty.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html, body {
    height: 100%;
    /*needs more work on cursor...*/
    /*cursor: url("mousepointer.png"), auto;*/
    
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
            
    background-color: transparent;
    font-family: 'ChaletLondonNineteenSixty';
    color: #FFF;
}

#body {
    visibility: hidden; /* default hidden */
    /*
    background: url('./bg.png');
    background-size: cover;
    */
    /*transition: 1s;*/
    opacity: 1.0;
    overflow: hidden;
}

#energy {
    position: absolute;
    left: 1.54%;
    bottom: 19.4%;
    width: 14.05%;
}
#energy .icon {
    color: #000;
    position: absolute;
    font-size: 10px;
    left: -3px;
    background-color: #ffab00cc;
    padding: 3px;
    border-radius: 3px 3px 0px 3px;
    top: -11px;
}
#energy .progress {
    background-color: #ffab0040;
    border-radius: 0px;
    height: 10px;
    font-size: 10px;
    margin-left: 9px;
}
#energy .progress .progress-bar {
    background-color: #ffab00cc;
    border-radius: 0px;
    color: #000;
}

#hunger {
    position: absolute;
    left: 1.54%;
    bottom: 0.7%;
    width: 6.975%;
}
#hunger .icon {
    color: #000;
    position: absolute;
    font-size: 10px;
    left: -3px;
    background-color: #ff0200cc;
    padding: 3px;
    border-radius: 3px 0px 3px 3px;
    top: 0px;
}
#hunger .progress {
    background-color: #ff020040;
    border-radius: 0px;
    height: 10px;
    font-size: 10px;
    margin-left: 11px;
}
#hunger .progress .progress-bar {
    background-color: #ff0200cc;
    border-radius: 0px;
    color: #000;
}

#thirst {
    position: absolute;
    left: 8.7%;
    bottom: 0.7%;
    width: 6.89%;
}
#thirst .icon {
    color: #000;
    position: absolute;
    font-size: 10px;
    left: -1px;
    background-color: #00afffcc;
    padding: 3px;
    border-radius: 3px 0px 3px 3px;
    top: 0px;
}
#thirst .progress {
    background-color: #00afff40;
    border-radius: 0px;
    height: 10px;
    font-size: 10px;
    margin-left: 10px;
}
#thirst .progress .progress-bar {
    background-color: #00afffcc;
    border-radius: 0px;
    color: #000;
}

#comp_addr_container {
    position: absolute;
    left: 16%;
    bottom: 0.7%;
    width: 6.89%;
    color: #FFF;
    width: auto;
    font-size: 13px;
}

#comp_addr_container div {
    display: inline-block;
}

.comp_addr {
    background-color: #0000008a;
    padding: 3px 10px 3px 10px;
}

#compass_actual {
    font-weight: bold;
    font-size: 13px !important;

    width: 30px;
    min-width: 30px;
    max-width: 30px;
}

#footer {
    position: absolute;
    bottom: 7px;
    right: 1.3%;
}

#footer #footer_1 {
    font-size: 14px;
    font-weight: bold;
    color: #76797a;
}

.blink_me {
    animation: blinker 1s linear infinite;
}
  
@keyframes blinker {  
    50% { opacity: 0.5; }
}